<div class="banner" style="background-color: #FEFFFF;">
  <div class="container-text wrapper">
    <h1>
      <span style="color: #6F530B;">W</span>atch<span style="color: #326055;">L</span>ist<span style="color: #E8907A">.</span>
    </h1>
    <p>Bookmarking movies has never been so easy.</p>
    <%= link_to "Make a list", new_list_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="lists">
  <div class="wrapper">
    <ul class="grid">
      <% @lists.each do |list| %>
        <li class="card-list box-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path list.photo.key, width: 400, height: 300, crop: :fill %>')">
            <h2 class="card-list-name"><%= link_to list.name, list_path(list) %></h2>
        </li>
      <% end %>
    </ul>
  </div>
</div>
