<div class="wrapper">
  <div class="container-form box-shadow">
    <h1>New List</h1>
      <%= simple_form_for (@list) do |f| %>
        <%= f.input :name %>
        <%= f.submit "Create New List", class: "btn btn-primary"%>
      <% end %>
    <%= link_to "Back to my lists", lists_path, class: "form-link-back" %>
  </div>
</div>
