<div class="wrapper">
  <div class="container-form">
    <h1>New Bookmark</h1>
      <%= simple_form_for ([@list, @bookmark]) do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit "Create New Bookmark", class: "btn btn-primary"%>
      <% end %>
  </div>
</div>
