.container-list-cards {
  background-color: #feffff;
  margin-top: 3rem;
  padding: 3rem;
  text-align: center;
}

.container-movie-cards ul {
  list-style-type: none;
  padding-left: 0;
}

.container-movie-cards li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.movie-title-rating p {
  margin-left: 1rem;
}

.movie-comment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
