.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: underline;
}

.nav-link:active {
  text-decoration-color: #32b0ff;
}
